<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
  </head>
  <body>
    <h1>웹프 2</h1>
    {{{body}}}
    {{{_sections.scripts}}}
  </body>
</html>