<h2>name and email</h2>
<form action="/process-contact" method="post">
  <div>
    <label>이름:
      <input name="name" />
    </label>
  </div>
  <br />
  <div>
    <label>메일:
      <input name="email" type="email" />
    </label>
  </div>
  <br />
  <div>
    <button type="submit">전송</button>
  </div>
</form>
