<!DOCTYPE html>
<html>
    <head>
        <title>Custom handlebars</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Custom handlebars</h1>
        {{{body}}}
    </body>
</html>